<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>Создать пост</title>
</head>
<body>
	<div class="post__create" id="post__create">
		<form action="#" method="post" id="formCreate">
			<label for="name">Имя:</label><br>
			<input type="text" id="name" name="name" required><br><br>
	
			<label for="description">Описание:</label><br>
			<input type="text" id="description" name="description" required><br><br>
	
			<div class="content__text__post">
				<p class="create__textarea" onclick="createText()" style="user-select: none"><i class='bx bx-plus'></i>Добавить текст</p>
				<p class="create__h" onclick="createH2()" style="user-select: none"><i class='bx bx-up-arrow-alt'></i>Добавить заголовок</p>
				<div class="edit__create">
					<p class="delete__create" onclick="deleteCreate()" style="user-select: none"><i class='bx bx-minus'></i>Удалить созданный контент</p>
				</div>
			</div>
			<div class="content__structure" id="content__structure">
			</div>
	
			<p id="button__post" onclick="createFinalPost()">Создать пост</p>
		</form>
	</div>

	<script src="https://telegram.org/js/telegram-web-app.js?56"></script>
	<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/createPost.js') }}"></script>

</body>
</html>